{% load static %}
{% url 'home' as home_url %}
{% url 'contact' as contact_url%}
{% url 'products:list' as products_url%}
{% url 'account:login' as login_url %}
{% url 'account:logout' as logout_url %}
{% url 'account:register' as register_url %}
{% url 'cart:home' as cart_url %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
<div class="container">
  <a class="navbar-brand" href="{{ home_url }}">
      <img src="{% static 'img/logo.jpg' %}" width="30" height="30" class="d-inline-block align-top" alt="">
      {% if brand_name %} {{ brand_name }} {% else %} one stop shop!{% endif %}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item{% if request.path == home_url %} active{% endif %}">
        <a class="nav-link" href="{{ home_url }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item{% if request.path == contact_url %} active{% endif %}">
        <a class="nav-link" href="{{ contact_url }}">Contact</a>
      </li>
      <li class="nav-item{% if request.path == products_url %} active{% endif %}">
        <a class="nav-link" href="{{ products_url }}">Products</a>
      </li>
    {% if request.user.is_authenticated %}
        <li class="nav-item{% if request.path == logout_url %} active{% endif %}">
        <a class="nav-link" href="{{ logout_url }}">Logout</a>
        </li>
    {% else %}
        <li class="nav-item{% if request.path == login_url %} active{% endif %}">
        <a class="nav-link" href="{{ login_url }}">Login</a>
        </li>
        <li class="nav-item{% if request.path == register_url %} active{% endif %}">
        <a class="nav-link" href="{{ register_url }}">Register</a>
        </li>
    {% endif %}
    </ul>
    {% include 'search/snippets/search-form.html' %}

  </div>
    <div class="col-1 shopping-cart">
        <a class=" {% if request.path == cart_url %}active text-light {% else %} text-muted {% endif %}"
           href="{{ cart_url }}"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
            {% if request.session.cart_products >= 0 %}
            <span class="badge badge-primary cart-count"
                  style=" top: -18px; left: -15px; position: relative; height: 20px; width: 20px;
                  line-height: 15px; border-radius: 50%; font-size: 0.7em;">
                {{request.session.cart_products}}</span>
            {% endif %}
        </a>
    </div>
</div>
</nav>