<!doctype html>
<html lang="en">
    <head>
        <title>one stop shop!</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% include 'base/css.html' %}
        {% block base_head %}{% endblock %}
        </head>
        <body>
        {% include 'base/navbar.html' with brand_name='one stop shop!' %}
        <div class="container">
            {% block content %}

            {% endblock %}
        </div>
        {% include 'base/js.html' %}
        <script>
            $(document).ready(function () {
                var productAddToCart = $('.add_to_cart_form');

                productAddToCart.submit(function (e) {
                    e.preventDefault();
                    var addToCartForm = $(this);
                    var actionEndPoint = addToCartForm.attr('data-endpoint');
                    var httpMethod = addToCartForm.attr('method');
                    var formData = addToCartForm.serialize();

                    $.ajax({
                        url: actionEndPoint,
                        method: httpMethod,
                        data: formData,
                        success: function (data) {
                            var submitSpan = addToCartForm.find('.submit-span');
                            if(data.added){
                                submitSpan.html('<button type="button" class="btn btn-secondary btn-block">Added to cart </button>'+
                                    '<button type="submit" class="btn btn-outline-danger btn-block"> Remove from Cart </button>'
                                );
                            }else {
                                submitSpan.html('<button type="submit" class="btn btn-success btn-block"> Add to Cart </button>');
                            }

                            var cartCount = $('.cart-count');
                            cartCount.text(data.cartProductsCount);

                            var currentPath = window.location.href;
                            if (currentPath.indexOf('cart') !== -1){
                               refreshCart()
                            }

                        },
                        error: function (errorData) {
                            console.log(errorData)
                        }
                    });
                    
                    function refreshCart() {
                        var cartTable = $('.cart-table');
                        var cartBody = cartTable.find('.cart-body');


                        var refreshCartUrl = '/cart/api/';
                        var refreshCartMethod = 'GET';
                        var data = {};
                        var currentUrl = window.location.href;

                        $.ajax({
                            url : refreshCartUrl,
                            method : refreshCartMethod,
                            data : data,
                            
                            success : function (data) {
                                var hiddenCartProductRemoveForm = $('.cart-product-remove-form');
                                if (data.products.length > 0){
                                    var productsRows = cartBody.find('.cart-product');
                                    productsRows.html('');

                                    $.each(data.products, function (index, value) {
                                        var newCartItemRemove = hiddenCartProductRemoveForm.clone();
                                        newCartItemRemove.css('display','block');
                                        newCartItemRemove.find('.cart-product-id').val(value.id);

                                        cartBody.prepend('<tr><td><img src="'+ value.image+'"style="width: 40px; height: 40px" onerror="' +
                                            'this.src=\'http://www.brandnmc.com/jbframework/uploads/2017/07/image_not_available.png\'">' +
                                            '<a href="'+ value.url +'">'+ value.name +'</a></td><td>$'+ value.price +'</td><td>'+ newCartItemRemove.html()+'</td></tr>')

                                    });
                                    cartBody.find('.cart-subtotal').text('\$'+data.subtotal);
                                    cartBody.find('.cart-shipping').text('\$'+data.shipping);
                                }else {
                                    console.log(currentUrl);
                                    window.location.href = currentUrl
                                }
                            },
                            error : function (errorData) {
                               console.log(errorData)
                            }
                        });
                    }
                });
            });
        </script>
    </body>
</html>