{% extends "base.html" %}
{% block content %}
<div class='row'>
    <div class="col-12 text-center py-5">
        {% if key %}
            <h1 class='my-5 py-5'>Activation Error. Please try again.</h1>
        {% else %}
            <h1 class='my-5 py-5'>Reactivate your email</h1>
        {% endif %}
    </div>
    <div class="col-12 text-center">
        <form method="post" action="">{% csrf_token%}
            {{ form.as_p}}
            <input class="btn btn-primary" type="submit" value="resend activation">
        </form>
    </div>

</div>
{% endblock %}