{% extends 'base.html' %}
{% block content %}
    <div class="row bg-light mt-5">
        <div class="col-4 img-thumbnail" align="center" style="padding: 5% ">
            <img src="{{ object.image }}" class="img-responsive" style="max-width: 100%">
        </div>
        <div class="col-8" align="center">
            <h1>{{ object.name }}</h1>
            <small>{{ object.updatedAt| timesince }} ago</small>
            <hr/>
            <div class="row" align="left">
                <label class="col-12" align="left"> Price: ${{object.price}}
                    <br> Shipping: ${{object.shipping}}</label>
            </div>
            <hr/>
            <div class="row" align="left">
                Categories:
                <ul> {% for category in object.get_categories%}
                    <li>{{category}}</li>
                    {% endfor %}
                </ul>
            </div>
            <hr/>
            <div class="row" align="left">
                <ul>
                    <li>{{object.manufacturer}}</li>
                    <li>{{object.type}}</li>
                    <li>{{object.model}}</li>
                    <li>{{object.description}}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}