{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-12 col-md-8 ml-auto mr-auto bg-light" align="center">
            <form class="text-left col-md-6" method="post" style="margin: 5%">{% csrf_token %}
                <h1 class="text-center"> Register </h1><hr/>
            {{ form.as_p }}<br/>
                <div class="col-6 text-center mx-auto">
            <button type="submit" class="btn btn-outline-primary btn-block"> submit </button></div>
                 <p class="text-center">do you need to <a href="{% url 'account:login' %}">login</a> ?</p>
            </form>
        </div>
    </div>
{% endblock %}