{% extends 'base.html' %}
<title></title>
{% block content %}
    <div class="text-center">
        <h1>{{ title }}</h1>
    </div>
        <div class="row">
            <div class="col">
                <p>{{ content }}</p>
            <div class="col-sm-6 col-12">
                <form method="post">{% csrf_token %}
                    {{ form }}
                    <button type="submit" class="button"> submit </button>
                </form>
            </div>
            </div>
        </div>
{% endblock %}
