{% extends "base.html" %}

{% block content %}
 <div class='row  mb-3'>
    {% if request.GET.q %}
    <div class='col-12' >
        {% if object_list.exists %}
        Results for <b>{{ request.GET.q }}</b>
        {% else %}
        No results found <i class="fa fa-frown-o fa-2x" aria-hidden="true"></i>
        {% endif %}
        <hr/>
    </div>
     {% endif %}
</div>
<div class="row">
{% for obj in object_list %}
    <div class="col-4 card" style="border-radius: 0;">
            {% include 'products/snippets/card.html' with instance=obj %}
    </div>
{% cycle '' '' '</div><div class="row">'%}
{% endfor %}
</div>
{% endblock %}