<div class="row">
    <div class="col-xs-12" style="padding: 5%">
        <div class="image-shell" align="center">
            <a href="{{ instance.slug }}">
            <img class="img-responsive" style="max-width: 50%" src= "{{ instance.image }}" alt="{{ instance.name}} logo">
            </a>
        </div>
    </div>
    <div class="col-xs-12" style="padding: 5%">
        <h3 class="header-minimal" >{{ instance.name|truncatechars:50}}</h3>
        <h4 class="" style="font-size: small">{{ instance.type}}</h4>
        <p style="font-size: small">{{ instance.description|truncatechars:100 }}</p>
        <div class="link">
            <a href="{{ instance.slug }}"><strong>View ></strong></a>
        </div>
    </div>
</div>