<div class="row">
    <div class="col-xs-12" style="padding: 5%">
        <div class="image-shell" align="center">
            <a href="{{ instance.get_absolute_url }}">
            <img class="img-responsive" style="max-width: 50%" src= "{{ instance.image }}"
                 onerror="this.src='http://www.brandnmc.com/jbframework/uploads/2017/07/image_not_available.png'">
            </a>
        </div>
    </div>
    <div class="col-xs-12" style="padding: 5%">
        <h3 class="header-minimal" >{{ instance.name|truncatechars:50}}</h3>
        <h4 class="" style="font-size: small">{{ instance.type}}</h4>
        <p><strong>${{ instance.price}}</strong></p>
        {% if instance.shipping == 0 %}
        <p class="text-info"> free shipping</p>
        {% endif %}
        <div class="col-12">
            <a class="btn btn-outline-primary btn-block my-2" href="{{ instance.get_absolute_url }}"><strong>View </strong></a>
            {% include 'products/snippets/add_to_cart.html' with product=instance cart=cart %}
        </div>
    </div>
</div>