{% extends 'base.html' %}
{% block content %}

{% if not billing_profile %}
    <div class="row text-center">
        <div class="col-12 col-md-5 bg-light p-3" align="center">
            <h4 class="text-primary">Login</h4>
            {% include 'accounts/snippets/login-form.html' with form=login_form next_url=request.build_absolute_uri %}
        </div>
        <div class="col-12 col-md-5 offset-md-2  bg-light p-3" align="center">
            <h4 class="text-warning">Continue as guest</h4>
            {% url 'account:guest-register' as guest_register %}
            {% include 'accounts/snippets/login-form.html' with form=guest_form next_url=request.build_absolute_uri action_url=guest_register %}
        </div>
    </div>
{% else %}
    <h1> Checkout </h1>
    <p>Total: {{ order.total }}</p>
{% endif %}
{% endblock %}